################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeoLib/v15
/GeoLib.Core/bin/
/GeoLib.Core/obj/
/GeoLib.Data/bin/
/GeoLib.Data/obj/
/packages
/GeoLib.Contracts/bin/
/GeoLib.Contracts/obj/
/GeoLib.Services/bin/
/GeoLib.Services/obj/
/GeoLib.Test/bin/
/GeoLib.Test/obj/
/GeoLib.ConsoleHost/bin/
/GeoLib.ConsoleHost/obj/
/GeoLib.WebHost/bin/
/GeoLib.WebHost/obj/
/GeoLib.WindowsHost/bin/
/GeoLib.WindowsHost/obj/Debug
/.vs/GeoLib.Clients/v15
/GeoLib.Client/bin/Debug
/GeoLib.Client/obj/Debug
/GeoLib.Proxies/.vs/GeoLib.Proxies/v15/Server/sqlite3
/GeoLib.Proxies/bin/Debug
/GeoLib.Proxies/obj/Debug
